* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cbdcf8, #e3c8f5);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.heading {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: center;
}
/* 
.add-employee {
    margin-top: 20px;
    width: 95%;
    display: flex;
    justify-content: end;
} */

.btn {
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: rgb(37, 103, 136);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(93, 165, 200);
}

.table-data {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.table-data th,
.table-data tr,
.table-body td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.table-data th {
    background-color: #f2f2f2;
    color: #333;
}

.font-color {
    color: rgb(82, 14, 52);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
}

.font-color:hover {
    color: rgb(5, 78, 98);
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    border: none;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
}



.modal {
    background-color: white;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.7rem;
    text-align: center;
}

.close-btn {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-data {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    gap: 10px;
}

.font-element {
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
}

.show {
    opacity: 1;
    pointer-events:auto;
}

.btn-container {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.error-section {
    margin-bottom: 5px;
    font-size: small;
    text-align: center;
}

.del-btn {
    width: 100%;
    padding: 12px 7px;
    font-size: 1.2rem;
}

.logout-btn {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.employee-handler{
    display: flex;
    /* flex-flow: column; */
    margin-top: 20px;
    margin: 0 auto;
    border: 1px solid black;
    gap: 100px;
    width: 90%;
    justify-content:space-around;
    align-items: center;
}

.no-of-records{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#records {
    font-size: 1rem;
    background: none;
    width: 22%;
    background-color: white;
}

.btn-clr {
    background-color: rgb(97, 4, 163);
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}